@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: auto !important; 
}
@media screen and (min-width: 900px) {
  body {
    overflow: hidden !important; 
  }
}
/* #admin-paginate {
  
} */
/* ================================================================== */
.card {
  transition: all .3s cubic-bezier(0.175, 0.885, 0, 1);
  transform: perspective(1px) translateZ(0);
  backface-visibility: hidden;
}
.card:hover {
  transform:scale(1.02);
}
/* =================================================================== */

/* ========================================================== */
/* add text subsection modal for teacher  */
#editor {
  border: thin solid #ccc;
  height: 10rem;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}