@tailwind base;
@tailwind components;
@tailwind utilities;


/* ==================================== NEW ========================================= */

@layer base {
  #admin-paginate > nav > div > div > p {
    @apply dark:text-white;
  }
  #admin-paginate > nav > :last-child > :first-child > p {
    @apply dark:text-white;
  }
  #admin-paginate > nav > :last-child > :last-child > span > span > span {
    @apply dark:bg-gray-800;
    @apply dark:text-gray-300;
    @apply dark:focus:text-gray-500;
    @apply dark:border-gray-600;
  }
  #admin-paginate > nav > :last-child > :last-child > span > a {
    @apply dark:bg-gray-800;
    @apply dark:text-gray-500;
    @apply dark:border-gray-600;
    @apply focus:bg-gray-100;
    @apply dark:focus:bg-gray-700;
  }
}

#site-header {
  position: fixed;
  top: 65px;
  transition: all 0.3s ease;
}

/* ================================================================================ */

body {
  overflow: auto !important; 
}
@media screen and (min-width: 900px) {
  body {
    overflow: hidden !important; 
  }
}
/* #admin-paginate {
  
} */
/* ================================================================== */
.card {
  transition: all .3s cubic-bezier(0.175, 0.885, 0, 1);
  transform: perspective(1px) translateZ(0);
  backface-visibility: hidden;
}
.card:hover {
  transform:scale(1.02);
}
/* =================================================================== */

/* ========================================================== */
/* add text subsection modal for teacher  */
#editor {
  border: thin solid #ccc;
  height: 10rem;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}